.tictactoe-container{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 40%;
    transform: translate(-50%, -50%);
    .cell-text{
       position: relative;
       top: 42%;
       left: 42%;
       font: normal 900 2.5vw SFCompact;
    }
    .tictactoe-cell{
        width: 32.6%;
        cursor: pointer;
        border: 1px solid black;
    }
}