<div class="tictactoe-container">
  <div style="border-top: none; border-left: none;" class="tictactoe-cell">1</div>
  <div style="border-top: none;" class="tictactoe-cell">2</div>
  <div style="border-top: none; border-right: none;" class="tictactoe-cell">3</div>
  <div style="border-left: none;" class="tictactoe-cell">4</div>
  <div class="tictactoe-cell">5</div>
  <div style="border-right: none;" class="tictactoe-cell">6</div>
  <div style="border-left: none; border-bottom: none;" class="tictactoe-cell">7</div>
  <div style="border-bottom: none;" class="tictactoe-cell">8</div>
  <div style="border-right: none; border-bottom: none;" class="tictactoe-cell">9</div>
</div>
<router-outlet></router-outlet>
