.tictactoe-container{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 40%;
    transform: translate(-50%, -50%);
    .tictactoe-cell{
        width: 32.6%;
        border: 1px solid black;
    }
}